* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  scrollbar-width: none;
}

body, #usernameFormContainer, .selfBubble {
  background: linear-gradient(75deg, rgb(0, 0, 104), rgb(0, 6, 178), rgb(0, 0, 104));
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background: linear-gradient(75deg, rgb(0, 0, 104), rgb(0, 6, 178), rgb(0, 0, 104));
  min-width: 300px;
  /* background: linear-gradient(60deg, rgb(33, 33, 49), rgb(0, 0, 117), rgb(40, 40, 57)); */
}

.selfBubble {
  background: linear-gradient(75deg, rgb(20, 20, 65), rgb(14, 17, 83), rgb(20, 20, 65));

}


#heroContainer, #chatRoomContainer, .aboutContainer {
  color: white;
  width: 100vw;
  height: 100vh;
  margin-top: -8vh;
}
.aboutContainer {
  height: 140vh;
}

#invalidName {
  top: 120%;
}

.btn1 {
  max-width: 115px;
}
.btn1:hover {
  background-color: whitesmoke !important;
}

#usernameTextbox {
  max-width: 400px;
  min-width: 300px;
  width: 45vw;
}
#usernameFormContainer {
  width: 50vw;
  max-width: 450px;
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.messageBubble {
  /* max-width: 650px;
  min-width: 250px; */
  width: clamp(650px, fit-content, 250px);
}
#messageContainer {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.bubbleUsernameHeader {
  margin-right: 20px;
}

#charIndicator {
  font-size: 0.8rem;
}

.navBtn {
  margin-top: -5px;
}

#navSpacer {
  height: 5vh;
}
#navContainer {
  backdrop-filter: blur(4px);
}
#particles canvas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.defaultAboutImg {
  width: 40vw;
  min-width: 250px;
  max-width: 300px;
}

@media  (max-width: 500px) {
  .messageBubble {
    max-width: 250px;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 150px;
  margin-top: 2rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.marqueeImg {
  width: 150px;
}

.item {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

